@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
:root {
    /* ### Primary */

--Soft-blue: hsl(215, 51%, 70%);
--Cyan: hsl(178, 100%, 50%);

/* ### Neutral */
/* -(main BG) */
--Very-dark-blue-1: hsl(217, 54%, 11%);
/* (card BG) */
--Very-dark-blue-2 : hsl(216, 50%, 16%);
/* (line) */
--Very-dark-blue-3: hsl(215, 32%, 27%);
--White: hsl(0, 0%, 100%);


/* ### Body Copy */
 /* (paragraph) */
--Font-size-P: 18px;
}


body{
    margin:0;
    padding:0;
    background-color: var(--Very-dark-blue-1);
}

.container{
    margin:50px auto;
    width: 375px;
    background-color: var(--Very-dark-blue-2);
    border-radius: 10px;
    /* width:50px; */ 
}
.card{
    margin:0 auto;
    text-align: left;
    width: 340px;
    /* position: relative;
    display: inline-block; */
}
/* image -section */
.img-card{
    width: 100%;
    height: 340px;
    position: relative;
    /* background-color: var(--Cyan); */
}
.top-color{
    position:absolute;
    margin-top: 1rem;
    width: 100%;
    height: 340px;
    border-radius: 10px;
}
.equilibrium-img{
    width:100%;
    text-align:center;
    /* margin:1rem; */
    border-radius: 10px;
    margin-top: 1rem;
    margin-bottom:1rem;
    /* display:none; */
}
.top-img{
    width:50px;
    height:40px;
    position: absolute;
    top:155px;
    right:150px;
    z-index: 99;
}
/* Image-Hover Effect */
.top-color:hover{
    background-color: var(--Cyan);
    opacity: .3;
}
/* .img-card:hover .equilibrium-img{
    display: inline-block;
} */

.img-card:hover .top-img{
    background: url(./images/icon-view.svg) no-repeat;
  
}
/* Typography */
.color-text{
  color:#fff;
  font-family: 'Outfit';
  cursor:pointer;
}
.color-text:hover{
    color: var(--Cyan);
}
/* Horizontal Line */
.hr-line {
    content:"";
    width:100%;
    height:1px;
    background: var(--Very-dark-blue-3);
    margin-top:  0px;
    margin-bottom:  4px;
  }
/* Content Section */
.content{
padding: .5rem 0;
}

.flex{
    display: flex;
    justify-content: space-between;
    
}
.content-text{
    /* display: inline-flex; */
    color:var(--Soft-blue);
    font-family: 'Outfit' ,sans-serif;
    padding:.2rem;
    font-size: 14px;
    letter-spacing: 1px;
}
.icon{
    height:60%;
    margin-left:2px;
}
.creator{
    display: inline-flex;
}
.creator img{
    width: 14%;
    margin-right:13px; 
    border:2px solid #fff;
    border-radius: 50%;   
}



/* Feel free to remove these styles or customise in your own stylesheet 👍 */
  .attribution { 
    font-size: 11px; 
    text-align: center;
    color: #fff;
    margin-bottom: 10px;
}
.attribution a { 
      text-decoration: none;
      color:hsl(178, 100%, 50%);
     }